{% extends 'layout.html' %}
{% block title %}RedditReels{% endblock %}

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}


{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Welcome to My App</h1>
    <br>
    <h2>Here are Your Secret Credentials for Reddit &amp; YouTube APIs</h2>
    <div class="container mt-4">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Reddit Client ID</td>
                    <td>{{ redditdata.client_id }}</td>
                </tr>
                <tr>
                    <td>Reddit Client Secret</td>
                    <td>{{ redditdata.client_secret }}</td>
                </tr>
                <tr>
                    <td>Reddit User Agent</td>
                    <td>{{ redditdata.user_agent }}</td>
                </tr>
                <tr>
                    <td>Reddit Password</td>
                    <td>{{ redditdata.password }}</td>
                </tr>
                <tr>
                    <td>Reddit 2FA</td>
                    <td>{{ "Enabled" if redditdata.two_factor_enabled else "Disabled" }}</td>
                </tr>
                <tr>
                    <td>YouTube API Key</td>
                    <td>{{ ytdata }}</td>
                </tr>
            </tbody>
        </table>
        <!-- a button to Edit API keys -->
        <a href="/addkeys" class="btn btn-primary">Edit API Keys</a>
    </div>
</div>
{% endblock %}